---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Scripts from "../components/Scripts.astro";
import ToggleTheme from "../components/ToggleTheme.astro";
import ToTop from "../components/ToTop.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <Scripts />
    <style>
      main {
        max-width: 1240px;
        width: 100%;
        justify-content: center;
        align-content: center;
        margin: 0 auto;
        padding-bottom: 5rem;
      }
      .blog-post {
        padding-inline: 2rem;
      }

      .backlink {
        position: absolute;
        padding: 1rem;
      }

      .hero-image {
        width: 100%;
        margin: 0 auto;
      }
      .hero-image img {
        display: flex;
        margin: auto;
        border-radius: 12px;
        object-fit: cover;
        background-position: center;
        aspect-ratio: 2/1;
      }
      .prose {
        width: 800px;
        max-width: calc(100% - 2em);
        margin: auto;
        padding: 1em;
      }
      .blog-title {
        margin-bottom: 1em;
        padding: 1em 0;
        text-align: center;
        line-height: 1;
      }
      .blog-title h1 {
        margin: 0 0 0.5em 0;
      }
      .date {
        margin-bottom: 0.5em;
      }
      .last-updated-on {
        font-style: italic;
      }
      .blog-description {
        font-size: 1.2rem;
        font-style: italic;
      }
      p {
        font-size: 1.1rem;
        line-height: 1.5;
      }

      @media (max-width: 820px) {

        .blog-title h1 {
          font-size: 3rem;
        }
        .blog-post {
          padding-inline: 0rem;
        }
      }

      @media (max-width: 600px) {
        .prose {
          width: unset;
          max-width: unset;
        }
        .blog-title h1 {
          font-size: 2.6rem;
        }
      }
    </style>
  </head>

  <body>
    <Header />
    <ToggleTheme />

    <div class="wrapper">
      <main>
        <article class="blog-post">
          <a class="backlink" href=".."><div class="circle-button">&lt;</div></a>
          <div class="hero-image">
            {
              heroImage && (
                <img width={1020} height={510} src={heroImage} alt="" />
              )
            }
          </div>
          <div class="prose">
            <div class="blog-title">
              <div class="date">
                <FormattedDate date={pubDate} />
                {
                  updatedDate && (
                    <div class="last-updated-on">
                      Last updated on <FormattedDate date={updatedDate} />
                    </div>
                  )
                }
              </div>
              <h1>{title}</h1>
              {description && <p class="blog-description">{description}</p>}
              <hr />
            </div>
            <slot />
          </div>
        </article>
      </main>
      <ToTop />
    </div>

    <Footer />
  </body>
</html>
